* {
    background-color: var(--main-background-color);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    height: 75.5vh;
}

.shoppingTitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 5vw;
}

.productHolder {
    display: grid;
    grid-auto-flow: row;
    gap: 3vh;
    margin-top: 5vh;
}

.productHolder>div>:nth-child(2) {
    width: 10vw;
}

.productHolder>div>div {
    display: flex;
    flex-direction: row;
    gap: 1.25vw;
}

.productHolder>div>div>p {
    display: grid;
    place-content: center;
}

.productHolder>div>div>button {
    width: 3vh;
    height: 3vh;
    display: grid;
    place-content: center;
    border: 1px solid grey;
}

.productHolder>div {
    display: grid;
    grid-auto-flow: column;
    gap: 3vh;
    text-align: center;
    place-items: center;
    width: fit-content;
    margin-left: 10vw;
}

.productHolder>div>img {
    width: 10vh;
    height: 10vh;
}

.checkout {
    display: flex;
    align-items: center;
    margin-left: 30%;
    width: 20%;
    height: 100%;
}

.checkout>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid grey;
    border-radius: 1.7vh;
}

.checkout>div>div {
    border-radius: 1.5vh;
}

.checkout>div>div>p:first-child {
    font-size: large;
    font-weight: bold;
    margin-top: 2vh;
}

.checkout>div>div>p {
    margin: 1vh 0 2vh 3vh;
}

.checkout>div>a {
    margin: 2vh 0 2vh 3vh;
}

.checkout>div>button {
    border-radius: 0 0 1.5vh 1.5vh;
    border: none;
    height: 6vh;
    color: white;
    font-weight: bold;
    background-color: var(--main-button-color);
}

.checkout>div>button:hover {
    background-color: var(--main-hover-botton-color);
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 1vh;
}

 ::-webkit-scrollbar-track {
    background: var(--main-background-color);
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9194a0;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #7e808b;
}

@media only screen and (max-width: 1025px) {
    .content {
        grid-area: content;
        display: flex;
        flex-direction: column;
    }
    .checkout {
        display: flex;
        align-items: center;
        margin-left: 10%;
        width: 90%;
        height: 100%;
    }
    .checkout>div {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 2px solid grey;
        border-radius: 1.7vh;
    }
}