:root {
    /* Change color theme here */
    /*Green Color Theme*/
    --main-background-color: #fff;
    --main-popout-color: #37683e;
    --main-font-color: #fff;
    --main-button-color: #406b3a;
    --main-button-border-color: #598147;
    --main-hover-botton-color: #558d4d;
    --main-button-border-radius: 0.8vw;
    --main-border-size: 3px;
    --mainElement-border-radius: 5px;
    --outer-margin-values: 0 0.6em 0 0.6em;
    /*Blue Color Theme*/
    /*
  --main-background-color: #fff;
  --main-popout-color: #1f2b3b;
  --main-font-color: #fff;
  --main-button-color: #3a4f6b;
  --main-button-border-color: #476081;
  --main-hover-botton-color: #476081;
  --main-border-size: 3px;
  --main-button-border-radius: 0.8vw;
  --mainElement-border-radius: 5px;
  --outer-margin-values: 0 0.6em 0 0.6em;
  */
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 10.5vh 118vh 8vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "content" "footer";
}

.header {
    grid-area: header;
    background-color: var(--main-popout-color);
    width: 100%;
    gap: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--main-font-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.headerTitle {
    background-color: initial;
    text-decoration: initial;
    color: inherit;
    font-size: 3.8vh;
}

.header> :not(.headerTitle) {
    background-color: initial;
    text-decoration: initial;
    color: inherit;
    font-size: 2.4vh;
}

.header> :not(.headerTitle):hover {
    color: rgb(206, 206, 206);
}

.footer {
    grid-area: footer;
    background-color: var(--main-popout-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170%;
}

.footer>p {
    background-color: initial;
    color: var(--main-font-color);
    font-weight: bold;
    margin-top: 1vh;
    font-size: 1.8vh;
}

.footer>div {
    background-color: initial;
    margin-top: 1vh;
}

.footer>div>button {
    width: 5vh;
    height: 5vh;
    background-color: var(--main-button-color);
    border: var(--main-button-border-color) solid var(--main-border-size);
    border-radius: 50%;
    margin-right: 1vw;
}

.footer>div>button>i {
    color: var(--main-font-color);
    background-color: inherit;
    font-size: 1.8vh;
}

.footer>div>button:hover {
    background-color: var(--main-hover-botton-color);
    cursor: pointer;
}

.footer>a {
    text-decoration: none;
    background-color: inherit;
    color: var(--main-font-color);
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 0px 0px;
    grid-template-areas: "billing1" "billing2";
    height: fit-content;
    text-align: center;
}

.bTitle {
    height: auto;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.checkoutInputs>p {
    margin-top: 2vh;
    margin-bottom: 0.2vh;
    font-size: 2.7vh;
}

.checkoutInputs>input {
    border-radius: 0.5vh;
    border: solid 0.2vh black;
    font-size: 2.5vh;
    height: 3.5vh;
    width: 75vw;
    padding-left: 1vw;
}

.billing1 {
    grid-area: billing1;
}

.billing2 {
    grid-area: billing2;
}

.purchaseBtn {
    width: 50%;
    height: 3em;
    border: var(--main-border-size) solid var(--main-button-border-color);
    border-radius: var(--main-button-border-radius);
    background-color: var(--main-button-color);
    color: #fff;
    font-size: 1.2em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.purchaseBtn:hover {
    animation-name: purchaseBtnColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes purchaseBtnColor {
    0% {
        background-color: var(--main-popout-color);
        color: #fff;
    }
    100% {
        background-color: #4f9b31;
        color: #fff;
    }
}

::-webkit-scrollbar {
    width: 11px;
}

 ::-webkit-scrollbar-track {
    background: var(--main-background-color);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a7a7a7;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}

@media only screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-rows: 10.5vh 79.1vh 8vh;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "header" "content" "footer";
    }
    .content {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "billing1 billing2";
        grid-area: content;
        height: 86vh;
    }
    .checkoutInputs>input {
        border-radius: 0.5vh;
        border: solid 0.2vh black;
        font-size: 2.5vh;
        height: 3.5vh;
        width: 15vw;
        padding-left: 0.3vw;
    }
    .billing1 {
        grid-area: billing1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24vw;
        margin-left: 25vw;
        margin-bottom: 9.2vw;
    }
    .billing2 {
        grid-area: billing2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24vw;
        margin-right: 25vw
    }
    .purchaseBtn {
        width: 100%;
    }
}