* {
    background-color: var(--main-background-color);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.content {
    grid-area: content;
    border-radius: var(--mainElement-border-radius);
    background-color: var(--main-popout-color);
    margin: var(--outer-margin-values);
    height: 40vh;
}

.content>div {
    height: 100%;
    width: 100%;
    background-color: initial;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

.content>div>img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: max-content;
    border-radius: var(--mainElement-border-radius);
    filter: blur(3px);
}

.content>div>p {
    position: absolute;
    color: white;
    font-size: calc(14px + 2.4vw);
    font-weight: 900;
    top: 10vw;
    background-color: transparent;
    text-align: center;
}

.content>div>button {
    border: var(--main-border-size) solid var(--main-button-border-color);
    border-radius: var(--main-button-border-radius);
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    font-size: 3vh;
    font-weight: bold;
    padding: 2vw 8vw 2vw 8vw;
    position: absolute;
}

.content>div>button:hover {
    background-color: var(--main-hover-botton-color);
    padding: 2.2vw 8.2vw 2.2vw 8.2vw;
}

.side-scroll-menu {
    display: grid;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    grid-auto-columns: 43vh;
    grid-auto-flow: column;
    gap: 0em 1em;
    margin: var(--outer-margin-values);
}

.side-scroll-menu>div {
    border-radius: var(--mainElement-border-radius);
    background-color: var(--main-popout-color);
    color: var(--main-font-color);
    text-align: center;
    height: 37vh;
}

.side-scroll-menu>div>div {
    width: 100%;
    height: 60%;
    background-color: var(--main-button-border-color);
}

.side-scroll-menu>div>p {
    background-color: initial;
    white-space: pre-line;
    font-size: 1.7vh;
}

.side-scroll-menu>div>button {
    border: var(--main-border-size) solid var(--main-button-border-color);
    border-radius: var(--main-button-border-radius);
    background-color: var(--main-button-color);
    padding: 0.5em 2.5em 0.5em 2.5em;
    color: var(--main-font-color);
    font-size: 1.7vh;
}

.side-scroll-menu>div>button:hover {
    background-color: var(--main-hover-botton-color);
    cursor: pointer;
}

.side-scroll-menu>div> :not(.side-scroll-menu > div > div) {
    margin-top: 1vh;
}

.side-scroll-menu>div>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-menu {
    grid-area: category-menu;
    border-radius: var(--mainElement-border-radius);
    background-color: var(--main-popout-color);
    margin: var(--outer-margin-values);
}

@media only screen and (min-width: 1000px) {
    .side-scroll-menu {
        display: grid;
        white-space: nowrap;
        overflow-x: scroll;
        -ms-overflow-style: none;
        grid-auto-columns: 30em;
        grid-template-rows: 1fr;
        gap: 0em 1em;
        margin: var(--outer-margin-values);
    }
    .content {
        height: 100vh;
    }
    .content>div>p {
        position: absolute;
        color: white;
        font-weight: 900;
        top: 10vw;
        background-color: transparent;
        text-align: center;
    }
    .content>div>button {
        border: var(--main-border-size) solid var(--main-button-border-color);
        border-radius: var(--main-button-border-radius);
        background-color: var(--main-button-color);
        color: var(--main-font-color);
        font-size: 4vh;
        font-weight: bold;
        padding: 1vw 6vw 1vw 6vw;
        position: absolute;
    }
    .content>div>button:hover {
        background-color: var(--main-hover-botton-color);
        padding: 1.2vw 6.2vw 1.2vw 6.2vw;
    }
}


/* Scrollbars */

 ::-webkit-scrollbar {
    width: 11px;
}

 ::-webkit-scrollbar-track {
    background: var(--main-background-color);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a7a7a7;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}

 ::-webkit-scrollbar:horizontal {
    height: 9px;
}

 ::-webkit-scrollbar-thumb:hover:horizontal {
    background: #8f8f8f;
}

 ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 5px;
    background: #aaaaaa;
}