* {
    background-color: var(--main-background-color);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: var(--main-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9194a0;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e808b;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    justify-content: center;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "pImage" "pInfo";
    grid-area: content;
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
    margin-bottom: 5vh;
    overflow-y: hidden;
}

.pImage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vh 0px;
    grid-auto-flow: row;
    grid-template-areas: "largeImage largeImage largeImage" "largeImage largeImage largeImage" "smallImages smallImages smallImages";
    grid-area: pImage;
    height: 45vh;
}

.largeImage {
    grid-area: largeImage;
    background-color: var(--main-hover-botton-color);
    border-radius: var(--element-border);
    height: 100%;
    overflow: hidden;
}

.largeImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smallImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9vh;
    gap: 0px 2vh;
    grid-auto-flow: row;
    grid-template-areas: "small-Image-1 small-Image-2 small-Image-3";
    grid-area: smallImages;
    height: 100%;
}

.smallImages>div {
    background-color: var(--main-hover-botton-color);
    border-radius: var(--element-border);
    height: 100%;
    overflow: hidden;
}

.smallImages>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-Image-1 {
    grid-area: small-Image-1;
}

.small-Image-2 {
    grid-area: small-Image-2;
}

.small-Image-3 {
    grid-area: small-Image-3;
}

.pInfo {
    display: flex;
    flex-direction: column;
    grid-area: pInfo;
    overflow-y: hidden;
}

.pTitle {
    height: auto;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1vh;
}

.pDescription {
    height: auto;
    font-size: 1em;
}

.titleDescription {
    grid-area: titleDescription;
}

.purchaseCartPriceStock {
    margin-top: 2vw;
    overflow-y: hidden;
    height: fit-content;
}

.price {
    height: auto;
    font-size: 1.2em;
}

.stock {
    height: auto;
    font-size: 1.2em;
}

.purchaseBtn {
    width: 12em;
    height: 3em;
    border: var(--main-border-size) solid var(--main-button-border-color);
    border-radius: var(--main-button-border-radius);
    background-color: var(--main-button-color);
    color: #fff;
    margin-right: 1.5em;
    font-size: 1em;
}

.cartBtn {
    width: 12em;
    height: 3em;
    border: var(--main-border-size) solid var(--main-button-border-color);
    border-radius: var(--main-button-border-radius);
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    font-size: 1em;
}

.purchaseBtn:hover {
    animation-name: purchaseBtnColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cartBtn:hover {
    animation-name: cartBtnColor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes purchaseBtnColor {
    0% {
        background-color: var(--main-button-color);
        color: var(--main-font-color);
    }
    100% {
        background-color: #4f9b31;
        color: var(--main-font-color);
    }
}

@keyframes cartBtnColor {
    0% {
        background-color: var(--main-button-color);
        color: var(--main-font-color)
    }
    100% {
        background-color: #4f9b31;
        color: var(--main-font-color);
    }
}

@media only screen and (min-width: 1025px) {
    .content {
        display: grid;
        justify-content: center;
        grid-template-columns: 50vh 50vh;
        gap: 0px 10vh;
        grid-auto-flow: row;
        grid-template-areas: "pImage pInfo";
        grid-area: content;
        margin-top: 10vh;
        height: 60vh;
    }
    .pImage {
        height: 35vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 0.5fr 0.5fr;
        gap: 1vh 0px;
        grid-auto-flow: row;
        grid-template-areas: "largeImage largeImage largeImage" "largeImage largeImage largeImage" "smallImages smallImages smallImages";
        grid-area: pImage;
    }
    .pInfo {
        display: flex;
        flex-direction: column;
        grid-area: pInfo;
        overflow-y: hidden;
    }
}